<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Quotes</h1>
      <% if @quotes.empty? %>
        <p>This list is empty</p>
      <% else %>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Quote Author</th>
            <th scope="col">Quote Text</th>
            <th scope="col">Show Quote</th>
          </tr>
          </thead>
          <tbody>
          <% @quotes.each do |quote| %>
            <tr>
              <th scope="row"><%= quote.id %></th>
              <td><%= quote.quote_author %></td>
              <td><%= quote.quote_text %></td>
              <td><%= link_to "Show Quote", quote %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
  </div>
</div>
