<div class="jumbotron">
  <div class="container">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Quote Author: <%= @quote.quote_author %></li>
      <li class="list-group-item">Quote Text: <i><%= @quote.quote_text %></i></li>
      <% if @quote.post.nil? %>
        <li class="list-group-item">This quote has no connected posts</li>
      <% else %>
        <li class="list-group-item">Post: <%= link_to @quote.post.post_title,  @quote.post %></li>
      <% end %>
    </ul>
  </div>
</div>