<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Users</h1>
      <% if @users.empty? %>
        <p>This list is empty</p>
      <% else %>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Username</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">e-mail</th>
            <th scope="col">Show</th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <tr>
              <th scope="row"><%= user.id %></th>
              <td><%= user.username %></td>
              <td><%= user.first_name %></td>
              <td><%= user.last_name %></td>
              <td><%= mail_to user.email, user.email %></td>
              <td><%= link_to "Show User", user %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
  </div>
</div>