<div class="jumbotron">
  <div class="container">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Username: <%= @user.username %></li>
      <li class="list-group-item">First Name: <%= @user.first_name %></li>
      <li class="list-group-item">Last Name: <%= @user.last_name %></li>
      <li class="list-group-item">e-mail: <%= @user.email %></li>
      <% if @user.posts.count == 0 %>
        <li class="list-group-item">This user has no posts</li>
      <% else %>
        <% @user.posts.each do |post| %>
          <li class="list-group-item">Post: <%= link_to post.post_title, post %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>