<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/about">About Datasets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/posts">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/quotes">Quotes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pictures">Pictures</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-md-0" action="/search" method="GET">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Quote Author" aria-label="Search" name="author">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Submit">Search</button>
    </form>
  </div>
</nav>