<div class="jumbotron">
  <div class="container">
    <%= link_to 'Home', root_path %>
    <h1 class="display-4">About Datasets</h1>
    <h3 id="1-1-describe-datasets">Datasets</h3>
    <ul>
      <li>Pictures<ul>
        <li><a href="https://picsum.photos/">Lorem Picsum</a></li>
        <li>Picture url data is pulled from the api and helps populate the pictures table</li>
        <li>Picture table has columns <ul>
          <li>ID[PK] </li>
          <li>picture_title</li>
          <li>picture_url</li>
        </ul>
        </li>
      </ul>
      </li>
      <li>Quotes<ul>
        <li><a href="https://type.fit/api/quotes">Type.fit</a></li>
        <li>Quote text is being pulled from the api and helps populate the quotes table</li>
        <li>Quotes table has the following columns<ul>
          <li>ID[PK]</li>
          <li>post[FK]</li>
          <li>quote_text</li>
          <li>quote_author</li>
        </ul>
        </li>
      </ul>
      </li>
      <li>User Data<ul>
        <li><a href="https://github.com/faker-ruby/faker/blob/master/doc/default/name.md">Faker Gem</a></li>
        <li>User table is being populated using the faker gem</li>
        <li>User table has the following columns<ul>
          <li>ID[PK]</li>
          <li>username</li>
          <li>first_name</li>
          <li>last_name</li>
          <li>email</li>
        </ul>
        </li>
      </ul>
      </li>
    </ul>
    <h3 id="1-2-erd-diagram">ERD Diagram</h3>
    <p><%= image_tag "ShareMePicERD.png", :class => "img-fluid",:alt => 'ERD'%></p>
  </div>
</div>
