<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Posts Home Page</h1>
    <p class="lead">This is a simple Rails app focusing on pictures and quotes posting</p>
  </div>
</div>