<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Pictures</h1>
      <% if @pictures.empty? %>
        <p>This list is empty</p>
      <% else %>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Picture Title</th>
            <th scope="col">Picture URL</th>
            <th scope="col">Link</th>
          </tr>
          </thead>
          <tbody>
            <% @pictures.each do |picture| %>
              <tr>
                <th scope="row"><%= picture.id %></th>
                <td><%= picture.picture_title %></td>
                <td><%= link_to "Show Picture", picture %></td>
                <td><%= link_to "link", picture.picture_url, :target => '_blank' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
  </div>
</div>