<div class="jumbotron">
  <div class="container">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Picture Title: <%= @picture.picture_title %></li>
      <li class="list-group-item">Picture URL: <%= link_to @picture.picture_url %></li>
      <% if @picture.posts.count == 0 %>
        <li class="list-group-item">This picture has no connected posts</li>
      <% else %>
        <% @picture.posts.each do |post| %>
          <li class="list-group-item">Post: <%= link_to post.post_title, post %></li>
        <% end %>
      <% end %>
      <li class="list-group-item"> <%= image_tag @picture.picture_url, :class => "img-fluid", :alt => "Responsive image" %></li>
    </ul>
  </div>
</div>