<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Posts</h1>
      <% if @posts.empty? %>
        <p>This list is empty</p>
      <% else %>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Post Title</th>
            <th scope="col">Post Text</th>
            <th scope="col">Show</th>
          </tr>
          </thead>
          <tbody>
          <% @posts.each do |post| %>
            <tr>
              <th scope="row"><%= post.id %></th>
              <td><%= post.post_title %></td>
              <td><%= post.post_text %></td>
              <td><%= link_to "Show Post", post %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
  </div>
</div>
