<div class="jumbotron">
  <div class="container">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Title: <%= @post.post_title %></li>
      <li class="list-group-item">Post Text: <%= @post.post_text %></li>
      <% if @post.quotes.count == 0 %>
        <li class="list-group-item">This post has no quotes</li>
      <% else %>
        <% @post.quotes.each do |quote| %>
          <li class="list-group-item">Quote: <%= link_to quote.quote_text, quote %></li>
        <% end %>
      <% end %>
      <% if @post.pictures.count == 0 %>
        <li class="list-group-item">This post has no pictures</li>
      <% else %>
        <% @post.pictures.each do |picture| %>
          <li class="list-group-item">Picture: <%= link_to picture.picture_title, picture %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>